[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
apscheduler = "*"
dependency-injector = "*"
httpx = "*"
playwright = "*"
pandas = "*"
openpyxl = "*"
pydantic = "*"
sqlmodel = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
